{% load staticfiles %}
{% for t in test %}
<div class="alert alert-info ">
    <div class="row">
        <div class="col-md-2">
            <img src="{% static "img/pic02.jpg" %}" width="300" class="img-responsive img-thumbnail"/>
        </div>
        <div class="col-md-8 ">
            <p>作者名</p>
        </div>
        <div class="col-md-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span class="label label-info">分类名</span>
        </div>
        <div class="col-md-10">
            <p>问题名</p>
        </div>
    </div>
    <p>说起出国旅游，难免就要联想到“买买买”。购物是人的天性，在我们去日本背电饭锅马桶盖的时候，日本人到中国也是一番扫货。中国地大物博，日本人扫的货也是品类繁多花样百出，那么他们到底最喜欢买些啥？....</p>
    <hr/>
    <h4>
        <span class="glyphicon glyphicon-comment"><code>45</code>&nbsp;</span>
        <span class="glyphicon glyphicon-thumbs-up"><code>100</code>&nbsp;</span>
        <span class="glyphicon glyphicon-calendar"><code>2017-3-24</code>&nbsp;</span>
    </h4>
</div>
{% endfor %}
<hr/>