{% load staticfiles %}
<div class="collapse" id="collapseComment{{ i }}">
    <div class="list-group" id="list_group{{ article.id }}">
        {% for com in article.comments %}
            <a class="list-group-item ">
                <div class="row">
                    <div class="col-md-1">

                        {% autoescape off %}
                            {{ com.user.profile }}
                        {% endautoescape %}

                    </div>
                    <div class="col-md-8">
                        <h4>{{ com.user.nickname }}</h4>
                        <p style="color: gray;">{{ com.user.self_description }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ com.date_publish|date:'M  j号 H i' }}发表</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4>{{ com.content }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1">
                        {#                        <span class="glyphicon glyphicon-thumbs-up"><code>{{ com.thumbsup }}</code>&nbsp;</span>#}
                        <div class="praise">
                            <span class="praiseParent"><img src="{% static 'img/zan.png' %}" id="praise-img"/></span>
                            <span id="praise-txt">{{ com.thumbsup }}</span>
                            <span id="add-num"><em>+1</em></span>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
    <div class="list-group">
        <a class="list-group-item ">
            <form>
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" id="comment{{ article.id }}" class="form-control" name="{{ article.id }}"
                               placeholder="来吐槽吧！"/>
                    </div>
                    <div class="col-md-2">
                        <button type="button" name="submitComment" value="comment{{ article.id }}"
                                class="btn btn-primary">提交评论
                        </button>
                    </div>
                </div>
            </form>
        </a>
    </div>

</div>
</div>

