{% load staticfiles %}
<div class="collapse" id="collapseComment">
    <div class="list-group">
        <a class="list-group-item ">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static "img/pic02.jpg" %}" width="80"
                         class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-md-7">
                    <p>用户名</p>
                </div>
                <div class="col-md-3">
                    <p>时间</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    在你心里，东瀛美人会是什么模样？ 黑发朱唇白肌，最好再带点猜不透的神秘？ 在上世纪70至80年代，西方时尚圈对于东瀛美人的定义，来自一位名叫山口小夜子的女人。
                    她是上世纪日本服装设计师闯荡西方的秘密武器；也是资生堂广告中，难以忘记的时代面孔。 对
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1">
                    <span class="glyphicon glyphicon-thumbs-up"><code>123</code>&nbsp;</span>
                </div>
            </div>
        </a>
        <a class="list-group-item ">
            <form>
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="comment" placeholder="来吐槽吧！" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">提交评论</button>
                    </div>
                </div>
            </form>
        </a>
    </div>
</div>
</div>