{% extends 'headbar.html' %}
{% load staticfiles %}

{% block main_content %}
    {% for message in message_list %}
        <div class="col-md-8 col-md-offset-2 well">
            <div class="row">
                <div class="col-md-2">
                    <p><b>最近联系</b></p>
                </div>
                <div class="col-md-2 col-md-offset-8">
                    <button type="button" class="btn btn-primary"><span
                            class="glyphicon glyphicon-envelope">&nbsp;写私信</span></button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-1">
                    <img src="{% static "img/zhi.jpg" %}" width="100" class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="text-primary">知乎书店团队:<span class="glyphicon glyphicon-certificate"></span></a>
                        </div>
                        <div class="col-md-5">
                            {% if client.nickname %}
                                <p>亲爱的 {{ client.nickname }}，你好，</p>
                            {% else %}
                                <p>亲爱的 {{ client.username }}，你好，</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <h4>
                            {{ message.content }}
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="color: gray">
                                {#                            2月20日 12:26#}
                                {{ message.date_publish }}
                            </p>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <button type="button" class="btn btn-primary">回复</button>
                            <button type="button" class="btn btn-danger">删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}