{% extends 'headbar.html' %}
{% load staticfiles %}
{% block main_content %}
		<div class="container">
			<div class="row ">
				<div class="col-md-8  well">
					<span class="glyphicon glyphicon-list-alt">&nbsp;<strong>最新动态</strong></span>
					{% include 'article_simplified.html' %}

				</div>
				<div class="col-md-4  ">
					<div class="row well">
						<div class="col-md-10">
							<span class="glyphicon glyphicon-list-alt">&nbsp;<strong>关于我</strong></span>
							<div class="list-group">
								<a href="#" class="list-group-item active">我的评论<span class="badge">14</span></a>
								<a href="#" class="list-group-item">我的文章<span class="badge">8</span></a>
								<a href="#" class="list-group-item">我的收藏<span class="badge">5</span></a>
							</div>
						</div>
					</div>
					<div class="row well">
						<div class="col-md-10 ">
							<div class="row">
								<div class=" col-md-offset-1">
									<ul class="nav nav-pills">
										<li class="active">
											<a href="#NewQues" id="NewQues-tab" data-toggle="tab">最新提问</a>
										</li>
										<li>
											<a href="#MostLikes" id="MostLikes-tab" data-toggle="tab">最多喜爱</a>
										</li>
										<li>
											<a href="#MostReply" id="MostReply-tab" data-toggle="tab">最多回答</a>
										</li>
									</ul>
								</div>
							</div>
							<br />
							<div class="tab-content">
								<div class="tab-pane fade active in" id="NewQues">
									<div class="list-group">
                                        {% for newq in NewQues %}
										<a href="/article/?qid={{ newq.id }}" class="list-group-item " style="background-color:{% cycle '#f2dede'  '#fcf8e3' '#d9edf7' %};">{{ newq.title }}
                                            <br><small style="color: gray">{{ newq.date_publish|date:'M  j号 Y年' }}</small>
                                        </a>
									    {% endfor %}
                                    </div>
								</div>
								<div class="tab-pane fade " id="MostLikes">
									<div class="list-group">
										{% for like in MostLikes %}
										<a href="/article/?qid={{ like.id }}" class="list-group-item " style="background-color:{% cycle '#f2dede'  '#fcf8e3' '#d9edf7' %};">{{ like.title }}
                                            <br><small style="color: gray">{{ like.likes }}个喜爱</small>
                                        </a>
									    {% endfor %}
									</div>
								</div>
								<div class="tab-pane fade " id="MostReply">
									<div class="list-group">
										{% for reply in MostReply %}
										<a href="/article/?qid={{ reply.id }}" class="list-group-item " style="background-color:{% cycle '#f2dede'  '#fcf8e3' '#d9edf7' %};">{{ reply.title }}
                                            <br><small style="color: gray">{{ reply.count }}个回答</small>
                                        </a>
									    {% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}