{% extends 'headbar.html' %}
{% load staticfiles %}
{% block main_content %}
		<div class="container">
			<div class="row ">
				<div class="col-md-10 col-md-offset-1 well ">
					<div class="col-md-12 column">
						<div class="row ">
							<div class="col-md-3 column">
								<img src="{% static "img/pic02.jpg" %}" width="300" class="img-responsive img-thumbnail" />
							</div>
							<div class="col-md-9 column">
								<div class="row ">

									<form class="form-horizontal">
										<div class="col-md-5 column">
											<div class="row">
												<div class="col-xs-2 col-xs-offset-2">
													<div class="form-group ">
														<div class="radio">
															<label><input type="radio" name="sex" value="female"/>男</label>
														</div>
													</div>
												</div>
												<div class="col-xs-2">
													<div class="form-group ">
														<div class="radio">
															<label><input type="radio" name="sex" value="female"/>女</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-10">
													<textarea class="form-control" rows="1" placeholder="个性签名"></textarea>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-10">
													<input type="text" class="form-control" placeholder="手机号" />
												</div>

											</div>
										</div>
										<div class="col-md-5 column">
											<div class="row" style="margin-top: 40px;">
											</div>
											<div class="form-group">
												<div class="col-sm-10">
													<input type="text" class="form-control" placeholder="旧密码" />
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-10">
													<input type="text" class="form-control" placeholder="新密码" />
												</div>
											</div>

										</div>
										<div class="col-md-2 column ">
											<div class="row" style="margin-top: 65px;">
											</div>
											<button type="submit" class="btn btn-primary">提交修改</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-1 well ">
					<div class="tabbable" id="tabs-723316">
						<ul class="nav nav-pills">
							<li class="active">
								<a href="#ANS" data-toggle="tab">回答</a>
							</li>
							<li>
								<a href="#QUES" data-toggle="tab">提问</a>
							</li>
							<li>
								<a href="#FOLLOW" data-toggle="tab">关注</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="ANS">
								<ul class="list-group">
									<li class="list-group-item">
										<a href="#">大家好</a><span class="badge">45</span></li>
									<li class="list-group-item">
										<a href="#">大家好</a><span class="badge">45</span></li>
									<li class="list-group-item">
										<a href="#">大家好</a><span class="badge">45</span></li>
								</ul>
							</div>
							<div class="tab-pane" id="QUES">
								<ul class="list-group">
									<li class="list-group-item">
										<a href="#">第二部分</a><span class="badge">45</span></li>
								</ul>
							</div>
							<div class="tab-pane" id="FOLLOW">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="row">
											<div class="col-md-3">
												<img src="{% static "img/pic02.jpg" %}" width="100" class="img-responsive img-thumbnail" />
											</div>
											<div class="col-md-6">
												<div class="row">
													<h4>JerryChu</h4>
												</div>
												<div class="row">
													<p>技术宅，研究僧</p>
												</div>
												<div class="row">
													<h5 style="color: gray;">15 回答     2文章          10121关注者</h5>
												</div>
											</div>
											<div class="col-md-3">
												<div class="row" style="margin-top: 30px;"></div>
												<button type="button" class="btn btn-primary">已关注</button>
											</div>
										</div>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-offset-1 ">
					<div class="row well">
						<div class="col-md-4 col-md-offset-2">
							<button type="button" class="btn btn-primary">关注了</button>
							<h4 class="text-center  ">213435</h4>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-primary">关注者</button>
							<h4 class="text-center  ">653</h4>
						</div>
					</div>
					<div class="row well">
						<h4 class="text-center">联系我们 © 2017 知乎</h4>
					</div>
				</div>
			</div>
		</div>
{% endblock %}