{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>QandA</title>
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/demo.css" %}">

<script type="application/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script language="JavaScript" src="{% static "js/bootstrap.min.js" %}"></script>

<style>
    body {
        padding-top: 60px;
    }

{#    div {#}
{#        border: 1px #398439 solid;#}
{#    }#}

</style>
